.idea/
navtrend-api/env.production.vars
auth0-demo/app.js
auth0-demo/package.json
auth0-demo/README.md

navtrend-app/ios/
navtrend-app/android/

ios/
android/
app-prod-ios/
*.log
tests/
meta/
node_modules/
dist/
coverage/
.vscode/
.claude/settings.local.json
